*{
    padding: 0;
    margin: 0;
}

body{
    background: #F6F4EB;
}

.header{
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    background: #749BC2;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 45px;
    margin-left: -5px;
    margin-top: 10px;
}

.header img{
    width:65px;
}

.msgarea{
    padding: 100px;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 50%;
}

textarea{
    padding: 50px 30px;
    border: 0.5px solid #4682A9;
    border-radius: 10px;
    background: #c1d6e0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    min-width: 100%;
    font-size: 15px;
    outline: none;
}

.btn{
    border: 0.5px solid #4682A9;
    background: #F6F4EB;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    color: #749BC2;
    cursor: pointer;
}

.btn i{
    margin-right: 5px;
}

.btn:hover{
    background: #749BC2;
    color: #F6F4EB;
    transition: 0.5s;
}

button{
    margin-top: 20px;
}

#msg{
    text-align: center;
    display: block;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 600px){
    form{
        width: 100%;
    }
    .msgarea{
        padding: 100px 75px;
    }
    #msg{
        font-size: 15px;
    }
}